.container {
    padding-left: 2rem;
    padding-right: 2rem;
    .titlePage {
        text-align: center;
        color: rgb(255, 58, 58);
    }
    .tab {
        display: inline-block;
        margin-left: 50px;
    }
    .title1 {
        font-weight: 600;
        font-size: 25px;
        margin-top: 5px;
        margin-right: 5px;

    }
    .title2 {
        font-weight: 600;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 5px;
        margin-right: 5px;
    }
    .title3 {
        font-weight: 600;
        font-size: 18px;
        margin-left: 100px;
        margin-top: 5px;
        margin-right: 5px;

    }
    .content1 {
        font-size: 18px;
        margin-left: 50px;
    }

    .content2{
        font-size: 18px;
        margin-left: 75px;
    }
    .content3{
        font-size: 18px;
        margin-left: 100px;
    }
    .content4{
        font-size: 18px;
        margin-left: 150px;
    }
    .important {
        font-weight: 600;
        color: rgb(55, 96, 199);
    }
    .table, td{
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    th {
        font-size: 20px;
        padding: 5px 0;
    }
    .table {
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .col1 {
        width: 15rem;
    }
    .noBotandTop {
        border-bottom: none;
        border-top: none;
        padding: 0.4rem 0;
    }
    .noTop {
        border-top: none;
        padding: 0.4rem 0;
    }
    .noBot {
        border-bottom: none;
        padding: 0.4rem 0;
    }
    .noBot,.noBotandTop, .noTop {
        width: 30rem;
    }
    .noBot:hover, .noBotandTop:hover, .noTop:hover {
        background-color: rgb(213, 246, 235);
        cursor: pointer;
    }
    .usePastSimpleTense{
        li{
            padding: 5px 0;
        }
    }
}