.container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: rgb(245, 244, 244);
    position: fixed;
    min-height: 90vh;
    width: 20vw;
    user-select: none;
    overflow: auto;
    .nameGrade1{
        display: flex;
        gap: 5px;
        cursor: pointer;
        padding: 0.2rem 0.7rem;
        color: rgb(130, 130, 130);
        &.nameGrade1:hover {
            color: black;
        }
    }
    .gradeManyGradeChoose{
        .nameGrade1{
            color: black;
            font-weight: 700;
        }
    }
    .menuGrade2On{
        margin-left: 40px ;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
    .menuGrade2Off{
        display: none;
    }
    .menu_item {
        color: rgb(141, 141, 141);
        font-size: 1rem;
        text-decoration: none;
        min-height: 1rem;
        border-radius: 0.2rem;
        padding: 0.2rem 34px;
        &.menu_item:hover{
            background-color: rgb(245, 245, 245);
            color: rgb(30, 30, 30);
        }
    }
    .chooseOption {          
        background-color: rgb(255, 255, 255);  
        border-radius: 0;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
}