.container {
    position: fixed;
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    z-index: 2;
    padding-left: 1rem;
    background-color: rgb(7, 7, 7);
    .menu_item {
        color: rgb(141, 141, 141);
        font-size: 1.2rem;
        text-decoration: none;
        height: 1.2rem;
        border-radius: 0.2rem;
        padding: 0.2rem 0.7rem;
        &.menu_item:hover{
            background-color: rgb(69, 68, 68);
        }
    }
    .chooseOption {
        color: rgb(253, 249, 249);
    }
}