.container {
    min-height: 70vh;
    padding: 1rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .verb {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        align-self: center;
        .input{
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
            input {
                height: 1.3rem;
                padding: 0rem 0.5rem;
            }
        }
    }
    .submitButton {
        grid-column: 3;
        cursor: pointer;
        border: 1px solid rgb(43, 126, 227);
        border-radius: 0.2rem;
        height: 1.5rem;
        width: 7rem;
        text-align: center;
        line-height: 1.5rem;
        background-color: rgb(43, 126, 227);
        color: white;
        scale: 1.2;
        user-select: none;
    }
    .word{
        cursor: pointer;
    }
    .audioControl{
        display: none;
    }

    .output {
        grid-column: 1 / span 3;
        padding: 1rem 1rem;
        border: 1px solid rgb(218, 218, 218);
        height: fit-content;
    }
    .copyButton {
        position: relative;
        .copiedNotification {
            position: absolute;
            background-color: green;
            color: white;
            padding: 5px 10px;
            border-radius: 4px;
            position: absolute;
            top: -5px;
            right: -70px;
            scale: 0.8;
          }
    }
    
}