.container {
    padding: 1rem 10rem;
    .searchContainer {
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 10px;
        height: 1.5rem;
        line-height: 1.5rem;
        .searchButton {
            cursor: pointer;
            border: 1px solid rgb(43, 126, 227);
            border-radius: 0.2rem;
            height: 1.5rem;
            width: 7rem;
            text-align: center;
            line-height: 1.5rem;
            background-color: rgb(43, 126, 227);
            color: white;
            user-select: none; 
        }
        .searchButton:active {
            background-color: rgb(88, 150, 226); 
        }
    }
    table{
        width: 100%;
        border-spacing: 1rem;
        th {
            border: 3px solid black;
            border-radius: 0.3rem;
            border-collapse: collapse;
            height: 2rem;
            line-height: 2rem;
        } 
        tr {
            td{
                border: 1px solid black;
                border-radius: 0.3rem;
                padding: 0.3rem 1rem;
                text-align: center;
            }
        }
        .oridinalNumber {
            width: 14%;
        }
        .infinitiveVerb {
            width: 21.5%;
        }
        .pastTense {
            width: 21.5%;
        }
        .pastParticiple {
            width: 21.5%;
        }
        .meaning {
            width: 21.5%;
        }

        tbody {
            tr {
                .word {
                    cursor: pointer;
                    .ipa {
                        display: block;
                        border: 2px solid rgba(244, 94, 89, 0.6);

                        border-radius: 3px;
                        padding: 2px 4px;
                    }
                }
                .word:hover {
                    text-shadow: 0.2rem;
                    background-color: rgb(206, 253, 210);
                }
                .audioControl{
                    display: none;
                }
            }
        }
    }
}